@model IEnumerable<CarrerLink.Models.Job>

@{
    ViewData["Title"] = "Home Page";


    var userName = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value ?? "Guest";
    var userRole = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value ?? "No Role";
    var userid = User.FindFirst("UserId")?.Value ?? "No UserId";
}

<div class="text-center">
    <h2>Welcome, @userName!</h2>
    <p>Your role: @userRole</p>
    <p>Your UserId: @userid</p>

    @if (User.IsInRole("Admin"))
    {
        <p>You have admin privileges.</p>
    }
    else if (User.IsInRole("Applicant"))
    {
        <p>You can apply for jobs.</p>
    }
    else if (User.IsInRole("Recruiter"))
    {
        <p>You can post jobs.</p>
    }
</div>
<h2 class="mb-3">Latest Jobs</h2>

<div class="row">
    @foreach (var job in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0 rounded-3 h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">@job.Title</h5>
                    <h6 class="card-subtitle text-muted mb-2">@job.Recruiter?.User?.Name</h6>

                    <p class="mb-1">
                        <i class="bi bi-geo-alt"></i> @job.Location
                        <span class="badge bg-primary ms-2">@job.JobType</span>
                    </p>

                    <p class="text-muted mb-1">
                        <i class="bi bi-clock"></i>
                        @job.PostedDate.ToString("MMM dd, yyyy")
                    </p>

                    @{
                        var remainingDays = (job.ApplicationDeadline - DateTime.Now).Days;
                    }
                    <p class="text-muted mb-1">
                        @if (remainingDays > 0)
                        {
                            @($"{remainingDays} days left")
                        }
                        else
                        {
                            @( "Deadline passed")
                        }
                    </p>

                    @if (job.Salary > 0)
                    {
                        <p class="text-success fw-semibold">NRs. @job.Salary.ToString("N0")</p>
                    }

                    <div class="mt-auto">
                        <a asp-controller="Job" asp-action="Details" asp-route-id="@job.JobId"
                           class="btn btn-sm btn-outline-primary w-80">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>