@model CarrerLink.Models.Applicant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Error != null)
        {
            <div style="color:red; font-weight:bold;">
                @ViewBag.Error
            </div>
        }
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @if (ViewBag.Error != null)
            {
                <div style="color:red; font-weight:bold;">
                    @ViewBag.Error
                </div>
            }

            <div class="form-group">
                <label>Resume: only pdf </label>
                <input type="file" name="Resume" class="form-control"  />
            </div>

            <div class="form-group">
                <label>Profile Picture</label>
                <input type="file" name="Profile" class="form-control" />
            </div>

            <div class="form-group">
                <label>Skills</label>
                <input type="text" name="Skills" value="@ViewBag.Skills" class="form-control" />
            </div>

            <div class="form-group">
                <label>Experience</label>
                <input type="text" name="Experience" value="@ViewBag.Experience" class="form-control" />
            </div>

            <div class="form-group">
                <label>Education</label>
                <input type="text" name="Education" value="@ViewBag.Education" class="form-control" />
            </div>

            <div class="form-group">
                <label>Portfolio URL</label>
                <input type="text" name="PortfolioUrl" value="@ViewBag.PortfolioUrl" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
